@font-face {
    font-family: "NeoDunggeunmoPro";
    src: url("fonts/NeoDunggeunmoPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body{
    width: 100vw;
    margin: 0 auto;
}

#button-area {
    text-align: center;
    font-family: 'NeoDunggeunmoPro', Arial;
    position: absolute;
    left: 1vw;
    bottom: 1vw;
}

#level {
    font-family: 'NeoDunggeunmoPro', Arial;
    position: absolute;
    left: 2vw;
    top: 1vw;
    color: black;
    font-size: 2.5vw;
}

button {
    font-family: 'NeoDunggeunmoPro', Arial;
    font-size: 1.75vw;
    padding: 0.25vw;
    margin-top: 1vw;
}

#game-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

#background {
    background-size: 100% auto; /* 가로가 꽉차게 표시 */
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* 뷰포트 너비의 100%로 너비 설정 */
    height: 100vh; /* 뷰포트 높이의 100%로 높이 설정 */ 
    z-index: -1; /* 다른 컨텐츠들이 배경 위에 올라오도록 설정 */
}